.playercontainer  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.centerPlayercontainer  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    border: 2px black solid;
}