:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    height: 100%;
}

.body {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

.player {
    max-width: 450px;
    margin: auto;
}

.action {
    max-width: 66%;
    margin: auto;
    text-align: center;
}

.error {
    color: red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {background: white;}
    .player {max-width: 90%}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {background: rgb(96, 146, 96);}
    .player {max-width: 90%}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {background: rgb(105, 105, 218);}
    .player {max-width: 75%}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: orange;}
    .player {max-width: 75%}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {background: pink;}
    .player {max-width: 60%}
}

span[data-answer] {
    margin-left: 0.25rem;
    padding: 0 0.5rem;
    color: white;
    border-radius: 0.3rem;
}
span[data-answer='A'] {
    background-color: #1589ee;
}
span[data-answer='B'] {
    background-color: #ff9e2c;
}
span[data-answer='C'] {
    background-color: #d4504c;
}
span[data-answer='D'] {
    background-color: #04844b;
}

.credits {
    text-align: center;
    margin-bottom: 1rem;
}
.credits a {
    color: #515e7f;
}
