img {
    border: 2px black solid;
    border-radius: 5px;
    background-color: white;
    margin:auto;
    padding: 2px;
    display: block;
    max-width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

