.container {
    border: 2px black solid;
    border-radius: 5px;
    background-color: white;
    margin:auto;
    padding: 2px;
    display: flex;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

